/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

body {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #2B512F;
}

h3 {
  color:#2B512F;
  font: message-box;
}

h2 {
  color: #2B512F;
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 20px;
}

mark {
  background-color: rgb(255, 255, 255);
  color: #2B512F;
}

/* #region slideshow-1*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 1;
  margin-top: 30px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  margin-top: 20px;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* #endregion */

/* #region menu*/
:root{
  --white: #f9f9f9;
  --black: #36383F;
  --gray: #85888C;
} /* variables*/

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.header{
  background-color: var(--black);
  box-shadow: 1px 1px 5px 0px var(--gray);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}
/* Logo */
.logo{
  display: inline-block;
  color: var(--white);
  font-size: 60px;
  margin-left: 10px;
}

.nav{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--black);
  overflow: hidden;
  z-index: 10;

}
.menu a{
  display: block;
  padding: 30px;
  color: var(--white);
}
.menu a:hover{
  background-color: var(--gray);
}
.nav{
  max-height: 0;
  transition: max-height .5s ease-out;
}
.hamb{
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}/* Style label tag */

.hamb-line {
  background: #2B512F;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
  background: #2B512F;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */

.side-menu:checked ~ nav{
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

/* #endregion */

/* #region mobileMenu */
@media (min-width: 768px) {
  .nav{
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      background-color: transparent;
      z-index: 10;
  }
  .menu li{
      float: left;
  }
  .menu a:hover{
      background-color: transparent;
      color: var(--gray);

  }

  .hamb{
      display: none;
  }
}
/* #endregion */

/* #region banner */
/* Container holding the image and the text */
.banner {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 85px;
  left: 50px;
}

/* #endregion */

/* #region contianer */

.container {
  padding: 40px;
}

.container-bg{
  padding: 10px;
  background-color: #99a682;
}
/* # endregion */